.multipleChoiceQuestion {
 margin-bottom: 15px;
 background-color:#B2DFDB;
 border-radius: 8px;
 text-shadow: 2px 2px #80CBC4;
 color: #00342b;
 box-shadow: 0 0 10px #02454b; /*#2787A2;*/
}

.multipleChoiceQuestion .errorMessage {
  color: white;
  text-shadow: 2px 2px 5px red;
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1));
  background-color: white;
  font-family: fantasy;
  text-align: center;
}

.multipleChoiceQuestion .errorMessage:default {
  background-color: none;
}

.choicesType div {
  text-align: end;
  font-family: cursive;
  color: #008086;
  margin: -1% 15% 3%;
}

.choicesType :hover{
  font-size: 20px;
}

.allVariants{
  display: flex;
  padding: 0 10% 5% 10%;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-content: center;
}

.variant {
  background-color: #fff;
  display: flex;
  margin: 10px 0;
  position: relative;
  text-shadow: 1px 1px #80CBC4;
  margin: 1em;

}

.variant label {
  padding: 12px 62px 12px 20px;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  border: 2px solid #00b3b0 ;
  box-shadow: 2px 2px 7px #00b3b0;
  width: 150px;
  height: inherit;
}

.variant label:hover {
  border: 2px solid #f4c353; /*#FBE8A6;*/
}

.variant label::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color:#006770; /* #5562eb;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 150ms cubic-bezier(0.4, 0.0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.variant label::after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 150ms ease-in;
}

.variant input:checked ~ label {
  color: #fff;
}

.variant input:checked ~ label::before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.variant input:checked ~ label::after {
  background-color: #54E0C7;
  border-color: #54E0C7;
}

.variant input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

