.textInputQuestion {
  margin-bottom: 15px;
  background-color:#B2DFDB;
  border-radius: 8px;
  text-shadow: 2px 2px #80CBC4;
  color: #00342b;
  box-shadow: 0 0 10px #2787A2;
 }

 .textInputQuestion .errorMessage {
   color: white;
   text-shadow: 2px 2px 5px red;
   text-align: center;
}

.textInputQuestion div {
   font-size: 18px;
   color: #008086;
   margin-left: 12%;
   text-align: start;
   font-family: cursive;
 }

 textarea {
  border: 3px solid #009688;
  border-radius: 10px;
  padding: 5px;
  margin: 0 0 5% 12%;
  font-family: initial;
  font-size: 20px;
  color: #004D40;
  width: 70%;
}

textarea:focus {
  color: #009688;
}
